@charset "utf-8";
@import url(./reset.css);
/* 외부 CSS 장착 */
.main,.page,.bx {
    width: 100%;
    height: 100%;
}
body *{
    outline: 1px dotted red;
}

/* 페이지 1 */
.bx1{
    display: flex;
    width: 50%;
    height: 100%;
     align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 0 auto;
}

/* 페이지 2 */
.p2wrap{
    /* 플렉스박스 */
    display: flex;
    align-items: center;
    height: 100%;
}
/* 페이지 2의 왼쪽박스 */
.bx2{
    /* 플렉스박스  */
    display: flex;
    width: 100%;
}
/* 사진 넘어가는박스  */
.bx3{
    width: 50%;
    /* 오른쪽으로 박스 옮긴거 */
    margin: 0 0 0 auto;
    /* 넘어가는 사진 안보이게 */
    overflow: hidden;
}
/* .bx3 ul */
.bx3 ul{
    /* 플렉스박스 사진 가로정렬 */
    display: flex; 
    /* 트랜스폼 줘서 왼쪽으로 가게끔 해야함. */
    transform: translateX();
}
/* 사진마다 공간주기 */
.bx3 li+li{
    margin-left: 30px;
}
/* 텍스트박스 */
.txtbx{
    color: #fff;
    margin: 0 auto;
}


/******************* 페이지 3 **********************/

.p3wrap{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.p3area{
    max-width: 1550px;
    margin: 0  auto;
    text-align: center;
}
.p3show ul{
    display: flex;
    justify-content: space-evenly;
}
.nhd li{
    line-height: 1em;
}
.p3show li>span{
    font-size: 1.8rem;
}


.p3show>ul>li>div{
    /* 플렉스박스 */
    display: flex;
    /* 중앙배치 */
    justify-content: center;
}
/* 플렉스박스들이 표에서 4등분할되게 */
.p3show>ul>li{
    width: 25%;
}
/* 페이지3에서 슬롯머신박스 부분 */
.nhd{
    height: 8rem;
    font-size: 8rem;
    /* 숫자한개만 보이게하고 나머지는 숨겨줌 */
    overflow: hidden;
}
/* 퍼센트/ 종 크기조절 */
.pct span{
    font-size: 4rem;
}
/* 퍼센트 / 종 숫자옆에 배치 */
.pct{
    margin: auto 0 0;
}
/* 슬롯머신부분 2번째 ol위쪽에서 내려오게 미리 셋팅 */
.nhd2 ol{
    transform: translateY(-90%);
}