@charset "utf-8";
@import url(./reset.css);
/* 외부 CSS 장착 */
.main,.page,.bx {
    width: 100%;
    height: 100%;
}
body *{
    outline: 1px dotted red;
}
/* 페이지 1 */

.bx1{
    display: flex;
    width: 50%;
    height: 100%;
     align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 0 auto;
}

/* 페이지 2 */
.p2wrap{
    display: flex;
    width: 100%;
    height: 100%;
}
.bx2{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto 0 0;
}
.bx3{
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.bx3 ul{
    display: flex;
    height: 100%;
    align-items: center;
}
.bx3 img{
    width: 100%;
    height: 100%;
}
