@charset "utf-8";

/* 나의 PJ 페스카로 미디어쿼리 */

@media screen and (max-width: 1600px ) {
}

@media screen and (max-width:1250px) {
    .nav ul>li{
        display: none;
    }
}

@media screen and (max-width : 1000px) {

    /* 1페이지 */
    .bx1 {
        margin: 0 auto 0 0;
    }
    .pob h1 {
        line-height: min(84px,8vw);
        font-size: min(64px,6vw);
    }
    p {
        font-size: min(20px,2vw);
    }
    .cirtxt {
        font-size: min(20px,2.1vw);
    }
}