@charset "utf-8";

html{
    font-size: 10px;
}
body{
    background-color: skyblue;
}
html, body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
h1,h2,h3,h4,h5,h6,ul,ol,li,p{
  list-style: none;
  padding: 0;
  margin: 0;
}
body a{
    text-decoration: none;
    color: #000;
}
h1{
    font-size: 6.4rem;
}
p{
    font-size: 2rem;
}