@charset "utf-8";
@import url(./reset.css);
@import url(./core.css);

/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Yusei+Magic&display=swap');
/* 
    font-family: 'Montserrat', sans-serif;
    font-family: 'Yusei Magic', sans-serif;
*/
/* 서브페이지 1 */
.spage1{
    position: relative;
    height: 100vh;
    font-family: 'Montserrat', 'sans-serif','나눔고딕';
    font-weight: 500;
}
/* 색 이미지 반복 고정 위치크기 */
.spage1bg{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(/01.1차프로젝트/00.자료수집/02.이미지데이터/sub_business/sub_business_bg.jpg) no-repeat center/cover ;
    z-index: -1;
}
/* 페이지 1 텍스트공간 */
.textarea{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/* 페이지1의 아래 박스공간 */
.bbx{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #fff;
}
/* 페이지1의 아래 박스공간의 ul */
.bbx ul {
    display: flex;
    height: 100%;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* 페이지1의 아래 박스공간의 li */
.bbx ul> li{
    flex: 1;
    font-size: 17px;
    font-weight: bold;
    height: 100%;
    line-height: 80px;
}
/* bbx부분 밑줄 밑 글자 오버시 색변경 부분 */
.bbx ul> li:hover a{
    color: #00afeb;
}
.bbx ul > li::after{
    content: '';
    display: block;
    height: 3px;
    background-color: #00afeb;
    transform: translateY(-2px);
    width: 0;
    transition:  .3s;
    margin-left: 50%;
}
.bbx ul > li:hover::after{
    width: 100%;
    margin-left: 0;
}
.bbx ul.qw > li::after{
    content: '';
    display: block;
    height: 3px;
    background-color: #00afeb;
    transform: translateY(-2px);
    width: 0;
    transition:  .3s;
    margin-left: 50%;
}

/* 클래스 on주면 글자색과 밑줄색 온! */
.bbx ul> li.on a{
    color: #00afeb;
}
/* bbx부분 밑줄 밑 글자 오버시 색변경 부분 끝*/

.fromendpagewrap{
    padding-top: 120px;
    margin: 0 auto;
}
.ctbx_top_text{
    width: 1515px;
    text-align: center;
    margin: 0 auto 100px;
}
.ctbx_top_tit{
    text-align: center;
    font-size: 40px;
    margin: 0 auto 100px;
    letter-spacing: -0.2rem;
}
/* .spg_ctbx_top_nayong 부분 */
.subtit{
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 60px;
}
.subtit::after{
    content: '';
    position: absolute;
    height: 2px;
    background-color: #000;
    width: 100%;
    bottom: -15px;
    left: 0;
}
.boldnayong{
    font-size: 36px;
    margin-bottom: 43px;
    letter-spacing: -.2rem;
}
.smallnayong p{
    margin-bottom: 30px;
    line-height: 1.6;
    color: rgba(0,0,0,0.6);
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -.1rem;
}
.psnayong{
    font-size: 13px;
    /* font-weight: bold; */
}

/* 페이지에 사진넣는곳 */
.ctbx_top_img{
    width: 100%;
    background: url(/01.1차프로젝트/00.자료수집/02.이미지데이터/sub_business/car_security_bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 11.2rem 0 8.6rem;
    color: #fff;
}
/* 사진넣은곳 안에 설정 */
.bigtit{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}
.tangle{
    font-size: 16px;
    width: 300px;
    height: 50px;
    padding: 10px 0 10px;
    border: 2px solid rgb(255,255,255,0.2);
    text-align: center;
    margin-bottom: 20px;
    line-height: 52px;
}
.ctbx_top_img_ctbx{
    display: flex;
    width: 1515px;
    margin: 0 auto;
    justify-content: space-between;
}
.ctbx_top_img_ctbx ul:last-child{
    transform: translateY(46px);
}