@charset "utf-8";

/* css합치기 */
@import url(./common.css);
@import url(./core.css);
@import url(./reset.css);

html{
    scroll-behavior: smooth;
}

/* 메인부분 공통 */
body *{
    /* outline: 2px dashed red; */
}
/* 각페이지 */
.page{
    width: 100%;
    min-height: 100vh;
}

/* 서브페이지 1 시작 */

/* 행성박스 */
.jbx{
    height: 932px;
    background: url(../img/space.jpg) no-repeat  center/cover;
}
/* 목성 */
.jupiter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
/* p1 하단바 */
.s{
    display: flex;
}
/* 행성정보박스 */
.jtbx{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #272727;
}
/* more박스 */
.p1more{
    height: 36px;
    text-align: center;
    line-height: 36px;
    width: 100%;
    background-color: #e96a76;
}
.p1more a{
    font-size: 17px;
    font-weight: bold;
    color: #000;
}
.fz12{
    margin-top: 4px;
    margin-bottom: 3px;
    font-size: 12px;
    color: #e96a76;
}
.fz20{
    font-size: 20px;
    color: white;
}
.p1ul{
    position: relative;
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}
/* jupiter 글자 */
.p1ul>li:first-child > div{
    font-size: 40px;
    color: white;
    padding: 19px 22px;
}
/* p1 정보박스 */
.p1_infobx{
    text-align: center;
    position: relative;
    display: flex;
    height: 100%;
    overflow: hidden;
}
/* 슬라이드박스 */
.slidebx{
    position: relative;
    /* ol부모 */
    width: 900px;
}
.slidebx ol{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}
.slidebx li {
    padding: 19px 22px;
    width: 300px;
    box-sizing: border-box;
}
/* 버튼 중앙맞추려고... */
.btns {
    display: flex;
    align-items: center;
    font-size: 40px;
    z-index: 1;
}



/* 서브페이지 1 끝 */




/* 서브페이지 2 시작 */

.page2{
    background-color: #fff;
}
/* 페이지2 상단 */
.p2top{
    width: 100%;
    background-color: #ece5e5;
    padding: 10px 0;
    margin-bottom: 80px;
}
.p2top li:hover a,
.p2top li.black a
{
    color: #222;
    font-weight: bold;
}
.p2top ul{
    display: flex;
    width: 800px;
    text-align: center;
    margin: 0 auto;
    justify-content: space-around;
}
.p2top a{
    color: #9c6772;
    font-size: 20px;
}
/* 페이지2 내용출력박스 */
.p2contbx{
    width: 1200px;
    margin: 0 auto;
}
.p2contbx p ,
.p2contbx h2{
    color : #3a3a3a
}

/* 페이지2 overview 부분 */
.p2overview p{
    color :#3a3a3a
}
.p2txt{
    width: 600px;
    margin: 0 auto;
    font-size: 19px;
    margin-bottom: 50px;
}
.p2txt p+p {
    margin: 20px 0;
}
.p2bythenumbers{
    width: 900px;
}
.p2_3_titbx{
    text-align: center;
    background-color: #ece5e5;
    font-weight: bold;
}
/* 슬라이드 크기조절 밑 다른애 안보이기 */
.p2slide{
    width: 800px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
/* 슬라이드 가로배치 */
.p2slide ul{
    display: flex;
    font-size: 13px;
}
/* p2슬라이드 이미지 */
.p2slide img{
    margin-bottom: 15px;
}
/* p2슬라이드 불릿 가로정렬 밑 위치조정 */
.p2slide_bullet ol{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 0 40px;
}
/* p2슬라이드 불릿 겹치기 + 안보이기 - show주면 켜짐 */
.p2slide_bullet img{
    position: absolute;
    display: none;
}
.p2slide_btns{
    position: absolute;
}
.p2slide_btns a{
    font-size: 40px;
    color: #222;
}
.p2slide_btns_left{
    top: 50%;
    left: 10%;
}
.p2slide_btns_right{
    top: 50%;
    right: 10%;
}



/* 페이지2 indepth부분 */
.p2indepth{
    width: 600px;
    margin: 0 auto;
}
.p2indepth h2{
    font-size: 30px;
    margin: 30px 0 15px;
}
.p2indepth p{
    font-size: 17px;
    margin-bottom: 15px;
}
.p2indepth img{
    width: 100%;
    margin: 15px 0;
}
.p2indepth div{
    margin-bottom: 100px;
}
.minfo{
    text-align: center;
    font-size: 40px;
}
h3 >a {
    color: black;
}

/* 페이지3 bythenumbes 부분 */
/* width 50% 적용 */
.w-50{
    width: 50%;
    font-size: 17px;
}
/* 페이지2 -3 윗부분 */
.p2_3_top section{
    display: flex;
    margin-bottom: 30px;
}
/* 페이지 2-3 윗부분 이미지 */
.p2_3_top_img{
    margin-bottom: 10px;
}
/* 페이지 2-3 메인영역 섹션 */
.p2_3_main section{
    margin-bottom: 30px;
}
.p2_3_main section:last-child{
    margin-bottom: 100px;
}
.p2_3_main .w-50 span{
    margin-left: 5px;
    font-size: 14px;
}
/* 페이지3 첫번째 div 플렉스x  */
.p2_3_main .db{
    display: block;
}
/* 페이지3의 각종 박스들 */
.p2_3_bx{
    display: flex;
}
.p2_3_bx span{
    font-size: 16px;
}
/* 페이지 2-3 본문영역 기준 */
.p2bythenumbers{
    margin: 0 auto;
    text-align: center;
}
.p2_3_titbx{
    font-size: 14px;
    padding: 4px 0;
    margin-bottom: 4px;
}
.bigcircle{
    margin: 30px auto;
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #dcbfbf;
}
.bcjupiter{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: red;
}
.smallcircle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
}
.smallcircle div{
    position: absolute;
    top: 100%;
    left : 50%;
    transform: translateX(-50%);
    font-size: 14px;
}

/* 페이지2 보여줬다 안보였다 */
.p2contbx article{
    display: none;
}
.p2contbx .show{
    display: block;
}


/* 페이지 2 - p2exploration 영역 */
.p2exploration{
    width: 600px;
    margin: 0 auto;
    line-height: 30px;
}
.p2exploration p {
    font-size: 19px;
    margin-bottom: 30px;
}
.p2exploration ul{
    list-style-position: outside;
    padding-left: 20px;
}
.p2exploration li{
    list-style: disc;
    margin-bottom: 20px;
    font-size: 19px;
}
.p2exploration h2 {
    font-size: 40px;
    margin: 40px 0 30px;
}

/* 페이지 2 - p2exploration 영역 끝 */


/* 페이지 2 - p2galleries 영역 시작 */
.p2galleries {
    width: 1200px;
    margin: 0 auto;
}
.p2_5_top a{
    color: #959696;
    margin-right: 10px;
    font-weight: bold;
}
.p2_5_top ul{
    display: flex;
    font-size: 20px;
    margin-bottom: 60px;
}
.p2_5_top ul li+li::before{
    content: '|';
    color: #959696;
}
.p2_5_top ol {
    display: flex;
}
.p2_5_top{
    display: flex;
    justify-content: space-between;
}

/* p2_5_cont_list 버전 */
.p2_5_cont_list
{
    display: none;
}
.p2_5_cont_list ul li{
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}
.p2_5_cont_list ul li:first-child{
    border-top: 1px solid #ccc;
}
.p2_5_cont_list ul li a{
    font-size: 30px;
}
.p2_5_li_imgbx{
    width: 23%;
    margin-right: 2%;
}
.p2_5_li_imgbx img{
    width: 100%;
}
.p2_5_li_txtbx>div:first-child{
    margin-bottom: 20px;
}
.p2_5_li_txtbx{
    color: #3a3a3a;
    width: 70%;
}
.p2_5_li_txtbx a{
    font-size: 29px;
    font-weight: bold;
    color:#3a3a3a;
}
.p2_5_li_txtbx a:hover{
    text-decoration: underline;
}
.p2_5_li_txtbx p{
    font-size: 18px;
}
/* p2_5_cont_list 버전  끝*/

/* p2_5_cont_grid 버전 시작 */
.p2_5_cont_grid h3{
    font-size: 15px;
}
.p2_5_gridbx{
    display: none;
}
.p2_5_gridbx ul{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 20px;
}
.p2_5_gridbx li div:last-child{
    min-height: 85px;
}
.p2_5_gridbx ul a{
    font-size: 15px;
    color: #222;
    font-weight: bold;
}
.p2_5_gridbx li img {
    width: 100%;
    margin-bottom: 5px;
}
/* p2_5_cont_grid 버전 끝 */
/* 페이지 2 - p2galleries 영역 끝 */

/* 서브페이지 2 끝 */

















/* 서브페이지 3 시작 */
.page3{
    background-color: #ece5e5;
    
}
.p3cont{
    box-sizing: border-box;
    margin-top: 50px;
    padding: 80px 48px 100px;
}
.p3cont header{
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}
.p3grid{
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    grid-template-columns: repeat(3,1fr);
}
.p3grid h3{
    font-size: 18px;
    margin-bottom: 12px;
}
.p3gridbx{
    border-bottom: 1px solid #dcbfbf;
    border-right: 1px solid #dcbfbf;
}
.bdrx{
    border-right: none;
}
.bdbx{
    border-bottom:  none;
}

.circle{
    background-color: #dcbfbf;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    margin: 0 auto;
    line-height: 60px;
    margin-bottom: 17px;
    font-size: 22px;
}
.p3gridbx{
    padding: 33px 33px 33px 33px;
}
.ptn{
    padding-top: 0;
}
.p3girdcont p{
    font-size: 15px;
    margin: 15px 0;
}
/* 서브페이지 3 끝 */
