@charset "utf-8";

/* css합치기 */
@import url(./common.css);
@import url(./core.css);
@import url(./reset.css);



/* 메인부분 공통 */
body *{
    outline: 2px dashed red;
}
.page{
    width: 100%;
    height: 100vh;
}

/* 서브페이지 1 시작 */
.page1{
    background: url(../img/space.jpg) no-repeat  center/cover;
}
/* 행성박스 */
.jbx{
    position: relative;
    height: 932px;
}
/* 목성 */
.jupiter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
/* 행성정보박스 */
.jtbx{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #272727;
}
/* 행성 정보txt박스 */
.jtxt{
    display: flex;
}
/* more박스 */
.more{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 36px;
    text-align: center;
    line-height: 36px;
    width: 100%;
    background-color: #e96a76;
}
.more a{
    font-size: 17px;
    font-weight: bold;
    color: #000;
}
/* 행성 정보 page1 ul */
.p1ul ul{
    display: flex;
    justify-content: space-around;
}
.p1ul>ul>li:first-child>div{
    font-size: 37px;
}
.p1ul li div:last-child{
    color: #fff;
}
.fz12{
    font-size: 12px;
}
.fz20{
    font-size: 20px;
}

/* 서브페이지 1 끝 */






/* 서브페이지 2 시작 */
.page2{
    background-color: #fff;
}

/* 서브페이지 2 끝 */
/* 서브페이지 3 시작 */
.page3{
    background-color: #ece5e5;
}
/* 서브페이지 3 끝 */
