@charset "utf-8";

/* css합치기 */
@import url(./common.css);
@import url(./core.css);
@import url(./reset.css);



/* 메인부분 공통 */
body *{
    /* outline: 2px dashed red; */
}
/* 각페이지 */
.page{
    width: 100%;
    min-height: 100vh;
}

/* 서브페이지 1 시작 */

/* 행성박스 */
.jbx{
    position: relative;
    height: 932px;
    background: url(../img/space.jpg) no-repeat  center/cover;
}
/* 목성 */
.jupiter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
/* p1 하단바 */
.s{
    display: flex;
}
/* 행성정보박스 */
.jtbx{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #272727;
}
/* more박스 */
.p1more{
    height: 36px;
    text-align: center;
    line-height: 36px;
    width: 100%;
    background-color: #e96a76;
}
.more a{
    font-size: 17px;
    font-weight: bold;
    color: #000;
}
.fz12{
    font-size: 12px;
    color: red;
}
.fz20{
    font-size: 20px;
    color: white;
}
.p1ul{
    display: flex;
}
/* jupiter 글자 */
.p1ul>li:first-child > div{
    font-size: 40px;
    color: white;
}
.p1_infobx{
    display: flex;
}
.slidebx ol{
    display: flex;
}


/* 서브페이지 1 끝 */






/* 서브페이지 2 시작 */
.page2{
    background-color: #fff;
}
.p2top{
    width: 100%;
    background-color: brown;
}
.p2top ul{
    display: flex;
    width: 800px;
    text-align: center;
    margin: 0 auto;
    justify-content: space-around;
}
.p2top a{
    color: black;
    font-size: 20px;
}
.p2txt{
    width: 800px;
    margin: 0 auto;
    font-size: 19px;
}
.p2bythenumbers{
    width: 900px;
}
.p2_3_titbx{
    text-align: center;
    background-color: #ece5e5;
    font-weight: bold;
}

/* 서브페이지 2 끝 */
/* 서브페이지 3 시작 */
.page3{
    background-color: #ece5e5;
    
}
.p3cont{
    box-sizing: border-box;
    margin-top: 50px;
    padding: 80px 48px 100px;
}
.p3cont header{
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}
.p3grid{
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    grid-template-columns: repeat(3,1fr);
}
.p3grid h3{
    font-size: 18px;
    margin-bottom: 12px;
}
.p3gridbx{
    border-bottom: 1px solid #dcbfbf;
    border-right: 1px solid #dcbfbf;
}
.bdrx{
    border-right: none;
}
.bdbx{
    border-bottom:  none;
}

.circle{
    background-color: #dcbfbf;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    margin: 0 auto;
    line-height: 60px;
    margin-bottom: 17px;
    font-size: 22px;
}
.p3gridbx{
    /* aspect-ratio: 280/400; */
    padding: 33px 33px 33px 33px;
}
.ptn{
    padding-top: 0;
}
.p3girdcont p{
    font-size: 15px;
    margin: 15px 0;
}
/* 서브페이지 3 끝 */
