/* bgbx.css */
.bgbxwrap{
    position: relative;
    width: 100%;
    height: 160vh;
}
.bgbx{
    width: 100%;
    height: 100%;
    background-color: red;
    object-fit: cover;
}
.tit{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 7rem;
    color: white;
    z-index: 1;
}
.bagbx{
    height: 100vh;
    position: relative;
}
.bag20bx{
    height: 120%;
    position: relative;
}
.vidwrap{
    /* 삭제예정 */
    border: 1px solid; 
    width: 90%;
    aspect-ratio: 16/9;
    position: absolute;
    top: 85%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    transform: translateX(-50%);
}
.vidwrap h1{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* -webkit-text-fill-color: transparent; */
    /* background: linear-gradient(to left,gray,white,silver); */
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
}