
.colorbx_wrap {
    position: relative;
    width: 85vw;
    margin: 0 auto;
    padding-top: 30vh;
}
.colorbg{
    width: 64%;
    height: 55vh;
}
.colorbx_wrap img{
    width: 100%;
    height: 100%;
}

.color1 {
    width: 46%;
    position: absolute;
    top: 30%;
    z-index: 1;
    left: 18%;
}
.color2{
    top: 83%;
    position: absolute;
    width: 65%;
}