@font-face {
    font-family: 'hele';
    src: url(../font/HelveticaNeue/HelveticaNeueLTPro-Md.otf);
}
@font-face {
    font-family: 'hele2';
    src: url(../font/HelveticaNeue/HelveticaNeueLTPro-Lt.otf);
}
.martsc{
    padding: 10%;
}
.martul{
    list-style: none;
    padding: 0;
    font-family: 'hele2';
}
.martul li{
    padding: 15px 0;
}
.martsc h1{
    text-align: center;
    font-size: 4.5rem;
    font-weight: normal;
    line-height: 1;
}
.martul span{
    font-family: 'hele';
    /* font-weight: bold; */
    font-size: 2rem;
}
.marta{
    display: flex;
    flex-direction: column;
}
.marta div:last-child{
    padding-left: 8%;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-top: 10px;
}
