.mtwrap {
    position: relative;
    text-align: center;
    width: 85vw;
    margin: 0 auto;
}
.mtwrap h1{
    font-size: 4rem;
    margin: 0;
    padding-bottom: 1.5rem;
}
.mtwrap p{
    margin: 0;
    font-size: 1.2rem;
}
