@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Montserrat:wght@400;500&family=Yusei+Magic&display=swap');
/* 빛나는글씨css */
/* 
font-family: 'Cormorant Garamond', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Yusei Magic', sans-serif; */
body{
    overflow-y: hidden;
}
.bg ul{
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
}
.wrap{
    /* position: relative; */
    /* height: 100vh; */
}
.bg{
    /* height: 100%; */
}
.wrap ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* gap : 4rem 0; */
}
.bg ul>li{
    position: relative;
    list-style: none;
    padding: 2rem 0;
    flex: 1;
    display: flex;
    align-items: center;
    z-index: 1;
    text-align: center;
}
.bg ul>li>a{
    font-size: 3.5rem;
    font-weight: 500;
    background: url(../img/kmk.jpg) repeat-y;
    background-clip: text;
    -webkit-background-clip: text;
    /* -webkit-transform: translate3d(0,0,0); */
    /* -webkit-backface-visibility: hidden; */
    -webkit-animation: aitf 4s linear infinite;
}
@-webkit-keyframes aitf {
    0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}
.bg ul>li a:hover{
    -webkit-text-fill-color: transparent;
}

.pr {
    
}
.pr img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}
.pr div:hover img{
    transform: scale(1.1);
}
.pr li >div{
    /* position: absolute; */
    position: relative;
    overflow: hidden;
    text-align: center;
}
.prleft {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}
.prright {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 20%;
}









