/* 프로젝트 - 2 코어 CSS  */
@charset "utf-8";

/* 폰트 */
@font-face {
    font-family: asd;
    src: url(../font/CircularStd-Book.1f2c8f7.woff2);
}
@font-face{
    font-family: sdf;
    src: url(../font/Hatton-Light.a83de3f.woff2);
}
@font-face{
    font-family: dfg;
    src: url(../font/Hatton-Regular.9256132.woff2);
}
body{
    overflow-x: hidden;
}
/* 파랑글씨 클래스 */
.blue{
    color : #5e8cff;
    font-weight: bold;
}

/* 상단영역 */
.top{
    position: relative;
    z-index: 10;
}
.nav {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    align-items: center;
    font-weight: 500;
}
.navlist ul {
    display: flex;
}
.navlist li {
    padding-right: 10px;
    font-family: asd;
}
.logo svg {
    width: 3.0rem;
    height: auto;
}
/* 상단영역끝 */

/* 하단영역 */
.ftwrap{
    height: 400px;
}
footer{
    font-family: sdf;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    height: 450px;
}
.ft_txtbx{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 80px;
    letter-spacing: 3px;
}
.ftlogo{
    width: 50px;
    height: 50px;
}
.ftlogo img{
    width: 100%;
    height: 100%;
}
.blink ol{
    display: flex;
    justify-content: center;
    gap: 0 40px;
    align-items: center;
}
.blink{
    font-size: 1rem;
    font-family: asd;
    font-weight: 500;
}
/* 하단영역끝 */
/* 로그인페이지 */
.loginbg{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;
}
.loginwrap{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 300px;
    background-color: #fff;
    border-radius: 20px;
    transform: translate(-50%,-50%)
}
.login_logo{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-top: 40px;
}
.login_logo img{
    width: 100%;
}
.loginbx{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.login{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
}
.close{
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
}
.graybx{
    position: absolute;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.2);
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.graybx span{
    padding-right: 10px;
    font-size: 1rem;
    text-decoration: underline;
}
#id{
    width: 150px;
    border: 1px solid #666;
    margin-right: 10px;
    margin-bottom: 10px;
}
#pw {
    width: 150px;
    border: 1px solid #666;
}


/* 흰색원 */
.whiteone{
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    transition: 1s ease-out;
    -webkit-clip-path: ellipse(25% 35% at 50% 100%);
    clip-path: ellipse(30% 0% at 50% 100%);
}
.whiteone.on{
    opacity: 1;
    -webkit-clip-path: ellipse(25% 35% at 50% 100%);
    clip-path: ellipse(126% 115% at 50% 100%);
}
