@charset "utf-8";

html{
    font-size: 1vw
}
html, body,ul{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,ul,ol,li,p,dl,dt,dd{
  list-style: none;
  padding: 0;
  margin: 0;
}
body a{
    text-decoration: none;
    color: #000;
}

