/* 프로젝트 - 2 sub CSS  */

@charset "utf-8";

@import url(./core.css);
@import url(./reset.css);

.bigpicturewrap{
    overflow: hidden;
}
.bigpicture{
    width: 100%;
    height: 75vh;
    /* 그림 아래에서 위로 튀어나오게 하기위한... */
    overflow: hidden;
    transform: scale(1.3);
}
.bigpicture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .5s ease-in-out;
    /* 그림 아래에서 위로 튀어나오기위한 셋팅조건 */
    transform: translateY(50%);
}
/* 이미지 겉박스에 클래스 on주면 아래에서 위로 튀어나오게 */
.bigpicture.on img{
    transition: 1s ease-in-out;
    /* 그림 아래에서 위로 튀어나오기위한 셋팅조건 */
    transform: translateY(0%);
}
/* 그림 아래에서 위로 튀어나오기위한 셋팅조건 */
/* .bigpicture.on{
    transition: 2s ease-in-out;
    transform: scale(1);
} */

.titwrap{
    margin-top: 1rem;
}
.tit{
    height: 25vh;
    font-size: 3.3rem;
    /* display: flex; */
    /* flex-direction: column; */
    flex-direction: row;
    text-align: center;
    justify-content: center;
    font-family: sdf;

    letter-spacing: -7px;
}

/* 상세페이지 애니메션션 선셋팅 */
/* 맨위 글씨 */
.tit span{
    opacity: 0;
    display: inline-block;
    transform : translateY(100%);
    transition: .3s linear;
    
}
/* 클래스 준 글씨 */
.tit.on span{
    opacity: 1;
    transform: translateY(0%);
}
/* 작은사진부분 겉박스 */
.mdsize{
    width: 35%;
    height: 40vh;
    margin: 0 auto;
    overflow: hidden;
}
/* 작은사진 선셋팅 */
.mdsize img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateY(100%);
    opacity: 0;
}
/* 작은사진에 클래스 주면 */
.mdsizewrap.on img{
    opacity: 1;
    transform: translateY(0);
    transition: .5s;
}
/* 중간사이즈 글씨 선셋팅 */
.mdsizewrap .mdsizetxt{
    margin: 5rem auto;
    font-size: 1rem;
    width: 30%;
    white-space: nowrap;
    opacity: 0;
    transform: scale(.95);
}
/* 중간사이즈 글씨 클래스주면 */
.mdsizewrap.on .mdsizetxt{
    opacity: 1;
    transition: 2s ease-out;
    transform: scale(1);
}
/* 큰그림 겉박스 사이징 */
.bigpicture2{
    height: 80vh;
    width: 100%;
}
/* 큰그림 이미지 선셋팅 */
.bigpicture2 img{
    width: 100%;
    height: 0%;
}
/* 큰그림 이미지 클래스주면 */
.bigpicture2.on img{
    height: 100%;
    transition: .7s ease-out;
}
/* 반반박스 */
.img50txt50{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
    font-family: asd;
}
.mdsizetxt p{
    font-family: asd;
}
/* 반반박스 이미지 겉박스 */
.img50txt50_imgbx{
    width: 40%;
    aspect-ratio: 1000/800;
    overflow: hidden;
}
/* 반반박스 이미지 선셋팅 */
.img50txt50_imgbx img{
    width: 100%;
    height: 100%;
    transform: rotate(312deg) scale(1.2);
    opacity: 0;
}
/* 반반박스 텍스트 선셋팅 */
.img50txt50_txtbx{
    width: 30%;
    padding-left: 5%;
    opacity: 0;
    transform: scale(.9);
}
/* 반반박스 랩에 클래스주면... */
.img50txt50wrap.on .img50txt50_imgbx img{
    opacity: 1;
    width: 100%;
    height: 100%;
    transform: rotate(360deg) scale(1.0);
    transition: .6s ease-in-out;
}
/* 반반박스 랩에 클래스준 텍스트 */
.img50txt50wrap.on .img50txt50_txtbx{
    opacity: 1;
    transition: 1s;
    transform: scale(1);
}


/* 칼라박스 */
.colorbgwrap{
    background-color : rgb(191 214 179);
    margin-bottom: 5rem;
    text-align: center;
    color: white;
}
/* 칼라박스 텍스트 */
.colorbg h2{
    padding: 18rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 400;
    font-family: sdf;
    opacity: 0;
    transform: scale(.9);
    display: inline-block;
}

/* 칼라박스 랩에 클래스주면. */
.colorbgwrap.on .colorbg h2{
    opacity: 1;
    transition: 1s linear;
    transform: scale(1);

}

/* 넥스트 랩 */
.nextPRtxtwrap{
    text-align: center;
}
.nextPRtxt::before{
    content: '';
    position: absolute;
    display: inline-block;
    height: 1px;
    background-color:black;
    width: 100%;
}

/* 넥스트 글씨 선셋팅*/
.nextPRtxt{
    position: relative;
    text-align: center;
    font-size: 12rem;
    letter-spacing: -2rem;
    font-family: sdf;
    opacity: 1;
    /* transform: translateY(100%); */
}
.nextPRwrap.on .nextPRtxt div{
    opacity: 1;
    transform: translateY(0);
}
.nextPRimgbx{
    text-align: center;
    /* -webkit-clip-path: circle(50% at 50% 100%); */
    /* clip-path: circle(50% at 50% 100%); */
    /* -webkit-clip-path: circle(50% at 50% 100%); */

    -webkit-clip-path: ellipse(25% 35% at 50% 100%);
    clip-path: ellipse(28% 80% at 50% 100%);
    aspect-ratio: 100/40;
}
.nextPRimgbx img{
    width: 100%;
    height: 100%;
    object-position: 0 50%;
    object-fit: cover;
}

.nextPRtxt div{
    transition: .6s linear;
    display: inline-block;
    transform: translateY(30%);
    opacity: 0;
}