/* 프로젝트 - 2 sub CSS  */

@charset "utf-8";

@import url(./core.css);
@import url(./reset.css);

.bigpicturewrap{
    overflow: hidden;
}
.bigpicture{
    width: 100%;
    height: 75vh;
    /* 그림 아래에서 위로 튀어나오게 하기위한... */
    overflow: hidden;
    transform: scale(1.3);
}
.bigpicture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: translateY .5s ease-in-out;
    /* 그림 아래에서 위로 튀어나오기위한 셋팅조건 */
    transform: translateY(50%);
}
/* 이미지 겉박스에 클래스 on주면 아래에서 위로 튀어나오게 */
.bigpicture.on img{
    transition: 1s ease-in-out;
    /* 그림 아래에서 위로 튀어나오기위한 셋팅조건 */
    transform: translateY(0%);
}
/* 그림 아래에서 위로 튀어나오기위한 셋팅조건 */
/* .bigpicture.on{
    transition: 2s ease-in-out;
    transform: scale(1);
} */

.titwrap{
    margin-top: 1rem;
}
.tit{
    height: 25vh;
    font-size: 3.3rem;
    /* display: flex; */
    /* flex-direction: column; */
    flex-direction: row;
    text-align: center;
    justify-content: center;
    font-family: sdf;

    letter-spacing: -7px;
}
.tit span{
    opacity: 0;
    display: inline-block;
    transform : translateY(100%);
    transition: .3s linear;
    
}
.tit.on span{
    opacity: 1;
    transform: translateY(0%);
}
.mdsize{
    width: 35%;
    height: 40vh;
    margin: 0 auto;
}
.mdsize img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mdsizetxt{
    margin: 5rem auto;
    font-size: 1rem;
    width: 30%;
    white-space: nowrap;
}
.bigpicture2{
    height: 80vh;
    width: 100%;
}
.bigpicture2 img{
    width: 100%;
    height: 100%;
}
.img50txt50{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
    font-family: asd;
}
.mdsizetxt p{
    font-family: asd;
}
.img50txt50_imgbx{
    width: 40%;
    aspect-ratio: 1000/800;
}
.img50txt50_imgbx img{
    width: 100%;
    height: 100%;
}
.img50txt50_txtbx{
    width: 30%;
    padding-left: 5%;
}
.colorbgwrap{
    background-color : rgb(191 214 179);
    margin-bottom: 5rem;
}
.colorbg h2{
    padding: 18rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 400;
    font-family: sdf;
}
.nextPRtxtwrap{
    text-align: center;
}
.nextPRtxt{
    position: relative;
    text-align: center;
    font-size: 12rem;
    letter-spacing: -1rem;
    font-family: sdf;
}
.nextPRtxt::before{
    content: '';
    position: absolute;
    display: inline-block;
    height: 1px;
    background-color:black;
    width: 100%;
}
.nextPRimgbx{
    text-align: center;
    /* -webkit-clip-path: circle(50% at 50% 100%); */
    /* clip-path: circle(50% at 50% 100%); */
    /* -webkit-clip-path: circle(50% at 50% 100%); */

    -webkit-clip-path: ellipse(25% 35% at 50% 100%);
    clip-path: ellipse(28% 80% at 50% 100%);
    aspect-ratio: 100/40;
}
.nextPRimgbx img{
    width: 100%;
    height: 100%;
    object-position: 0 50%;
    object-fit: cover;
}